<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4B8BBE;">
    <a class="navbar-brand" href="#">PyBridge - Web</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" href="#">About PyBridge</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Menu1</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Menu2</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Menu3</a>
        </li>

        <li class="nav-item">
        <a class="nav-link" href="#">Menu4</a>
      </li>

    </ul>
  </div>
</nav>
