.projectinfo{
  background-color: #4B8BBE;
  color: white;
  text-align: center;
}

.typeiconlist{
  height: 100px;
  width: 100px;
  margin-top: 25px;
}

.title{
  padding: 30px 0px 15px 0px;
}

.userinputbox{
  margin: 0px 25px 0px 25px;
}

.btnsstyle{
  margin-bottom: 50px;
}
