<div class="container p-0 m-0">

  <!-- FIRST Item -->
  <div id="BlankApplication" class="typecontent">
    <img class="typeiconlist" src="assets/BlankDocument.png" alt="Create Blank Project">
    <h2 class="projecttype">Create Blank Project
      <p class="typedescription">Create a Blank Project</p>
    </h2>
  </div>
  <!-- FIRST Item -->

  <!-- SECOND Item -->
  <div id="MenuApplication" class="typecontent">
    <img class="typeiconlist" src="assets/MenuDocument.png" alt="Create a MenuApplication Loop">
    <h2 class="projecttype">Create a MenuApplication Loop
      <p class="typedescription">Create a MenuApplication Loop</p>
    </h2>
  </div>
  <!-- SECOND Item -->

  <!-- THIRD Item -->
  <div id="TwitterApplication" class="typecontent">
    <img class="typeiconlist" src="assets/TwitterDocument.png" alt="Create a Twitter Application Project">
    <h2 class="projecttype">Create a Twitter Application Project
      <p class="typedescription">Create a Twitter Application Project</p>
    </h2>
  </div>
  <!-- THIRD Item -->

</div>
